// This must be added in order to be used in docker. Docker is unable to install SWC, rust based ts/js compiler.

{
  "presets": ["next/babel"]

  // Used for getting debugger to work properly. Remove if issues.
  // "sourceMap": "inline",
  // "retainLines": true
}